* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: white;
}

nav{
    background-color: #010e1f;
    height: 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: fixed;

    h3{
        font-size: 1.7vw;
        cursor: pointer;
    }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    background-color: #1D2938;
}

.title{
    font-size: 3vw;
}

.box {
    width: 17vw;
    height: 17vw;
    color: white;
    background-color: orange;
    border: .02vw solid white;
    border-radius: 1vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer{
    background-color: #1D2938;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    height: 5vh;
    color: #98A2B3;
}